*{
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #810101;
}
h1{
  font-size: 40px;
  color: rgb(21, 255, 0);
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
}
input{
  padding: 20px;
  width: 80%;
  height: 230px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 200px;
  font-family: Tahoma;
  background-color: #810101;
  border: none;
  color: rgb(13, 1, 128);
}
#submit{
  box-sizing: border-box;
  width: 50%;
  height: 150px;
  font-size: 100px;
  background-color: #fff;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}